.userInfo {
  padding: 8px 0 0;
  display: flex;
  justify-content: space-between;

  .infoItem {
    padding: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .infoContent {
    display: flex;
    flex: 1;

    // 420
    // 用户名
    .userName {
      flex-basis: 50px;
    }
    // 层级
    .userLevel {
      flex-basis: 70px;
    }

    .orgName {
      flex-basis: 210px;
    }

    .orgId {
      flex-basis: 60px;
    }

    .userInfoJson {
      overflow: auto;
      max-height: 270px;
      &:global {
        &::-webkit-scrollbar {
          display: none;
        }
        &::-webkit-scrollbar-corner {
          display: none;
        }
      }
    }
  }

  .infoExtra {
    display: flex;
    // width: 36px;
  }
}
